In [167]:
import pandas as pd

In [232]:
df  = pd.read_csv('ingredient_quantities.csv')

In [233]:
def complete_weight(pack_size_split, item_weight, item_volume,item_density):
    is_nan = item_weight != item_weight

    if not is_nan:
        return item_weight
    else:
        try:
            index_size = pack_size_split.index('kg')
            return float(pack_size_split[index_size - 1])
        except Exception as e:
            return item_volume * item_density

def complete_pack_size(pack_size_split, pack_size):
    return float(pack_size_split[0]) if len(pack_size_split) > 1 else pack_size

def complete_item_weight(item_density, item_volume, item_weight):
    try:
        return item_density * item_volume
    except Exception as e:
        return item_weight


df[['pack_size_text']] = df[['pack_size_text']].fillna('')
df['pack_size_split'] = df['pack_size_text'].apply(lambda x: x.split(' '))

In [234]:
df

,id,pack_size_text,pack_size,item_volume,item_density,item_weight,total_weight,pack_size_split
0,1,,20.0,NaN,NaN,3.0,60.0,[]
1,2,5 bottles of 1 kg,5.0,NaN,NaN,1.0,5.0,"[5, bottles, of, 1, kg]"
2,3,,1.0,2.0,0.9,1.8,1.8,[]
3,4,6 boxes of 3 kg,NaN,NaN,NaN,NaN,NaN,"[6, boxes, of, 3, kg]"
4,5,,5.0,3.4,2.0,NaN,NaN,[]
5,6,8 packs of 4 kg,NaN,NaN,NaN,NaN,32.0,"[8, packs, of, 4, kg]"
6,7,6 boxes of 4 kg,NaN,NaN,NaN,NaN,NaN,"[6, boxes, of, 4, kg]"
7,8,4 boxes of 3 kg,4.0,NaN,NaN,3.0,NaN,"[4, boxes, of, 3, kg]"
8,9,,3.0,NaN,NaN,1.0,NaN,[]
9,10,,2.0,3.0,4.0,NaN,NaN,[]

In [235]:
df['pack_size'] = df.apply(lambda x: complete_pack_size(x['pack_size_split'], x['pack_size']), axis=1)
df['item_weight'] = df.apply(lambda x: complete_weight(x['pack_size_split'], x['item_weight'], x['item_volume'], x['item_density']), axis=1)
df['total_weight'] = df['pack_size'] * df['item_weight']

In [226]:
df

,id,pack_size_text,pack_size,item_volume,item_density,item_weight,total_weight,pack_size_split
0,1,,20.0,NaN,NaN,3.0,60.0,[]
1,2,5 bottles of 1 kg,5.0,NaN,NaN,1.0,5.0,"[5, bottles, of, 1, kg]"
2,3,,1.0,2.0,0.9,1.8,1.8,[]
3,4,6 boxes of 3 kg,6.0,NaN,NaN,3,NaN,"[6, boxes, of, 3, kg]"
4,5,,5.0,3.4,2.0,6.8,NaN,[]
5,6,8 packs of 4 kg,8.0,NaN,NaN,4,32.0,"[8, packs, of, 4, kg]"
6,7,6 boxes of 4 kg,6.0,NaN,NaN,4,NaN,"[6, boxes, of, 4, kg]"
7,8,4 boxes of 3 kg,4.0,NaN,NaN,3.0,NaN,"[4, boxes, of, 3, kg]"
8,9,,3.0,NaN,NaN,1.0,NaN,[]
9,10,,2.0,3.0,4.0,12.0,NaN,[]

In [237]:
df['total_weight'] = df['pack_size'] * df['item_weight']

In [238]:
df

,id,pack_size_text,pack_size,item_volume,item_density,item_weight,total_weight,pack_size_split
0,1,,20.0,NaN,NaN,3.0,60.0,[]
1,2,5 bottles of 1 kg,5.0,NaN,NaN,1.0,5.0,"[5, bottles, of, 1, kg]"
2,3,,1.0,2.0,0.9,1.8,1.8,[]
3,4,6 boxes of 3 kg,6.0,NaN,NaN,3.0,18.0,"[6, boxes, of, 3, kg]"
4,5,,5.0,3.4,2.0,6.8,34.0,[]
5,6,8 packs of 4 kg,8.0,NaN,NaN,4.0,32.0,"[8, packs, of, 4, kg]"
6,7,6 boxes of 4 kg,6.0,NaN,NaN,4.0,24.0,"[6, boxes, of, 4, kg]"
7,8,4 boxes of 3 kg,4.0,NaN,NaN,3.0,12.0,"[4, boxes, of, 3, kg]"
8,9,,3.0,NaN,NaN,1.0,3.0,[]
9,10,,2.0,3.0,4.0,12.0,24.0,[]

In [87]:
df

,id,pack_size_text,pack_size,item_volume,item_density,item_weight,total_weight,pack_size_split
0,1,,None,NaN,NaN,None,60.0,[]
1,2,5 bottles of 1 kg,1,NaN,NaN,1,5.0,"[5, bottles, of, 1, kg]"
2,3,,None,2.0,0.9,None,1.8,[]
3,4,6 boxes of 3 kg,3,NaN,NaN,3,NaN,"[6, boxes, of, 3, kg]"
4,5,,None,3.4,2.0,None,NaN,[]
5,6,8 packs of 4 kg,4,NaN,NaN,4,32.0,"[8, packs, of, 4, kg]"
6,7,6 boxes of 4 kg,4,NaN,NaN,4,NaN,"[6, boxes, of, 4, kg]"
7,8,4 boxes of 3 kg,3,NaN,NaN,3,NaN,"[4, boxes, of, 3, kg]"
8,9,,None,NaN,NaN,None,NaN,[]
9,10,,None,3.0,4.0,None,NaN,[]